<!-- Carlos Carrillo-Calderon -->
<!-- CS_290-OSU -->
<!-- 05/28/2016 -->

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

<input type="hidden" name="id" id="currentId" value={{workouts.id}}>

<form id="workoutUpdate" action="/update">

    <!-- Script For AJAX to get data for the form: -->
    <script src="/js/script2.js"></script>

</form>


